In [1]:
import maboss, biolqm

In [2]:
bnet_model = biolqm.load("model_files/krasmodel15vars.bnet")

In [3]:
model = biolqm.to_maboss(bnet_model)

In [97]:
model.param["time_tick"] = 0.1
model.param["max_time"] = 100
model.param["sample_count"] = 10000000

In [98]:
on = (0, 1)
off = (1, 0)
rand = (0.5, 0.5)

model.network.set_istate('cc', on)
model.network.set_istate('KRAS', on)
model.network.set_istate('DSB', on)
model.network.set_istate('cell_death', off)

model.network.set_istate('CHEK1', rand)
model.network.set_istate('MAPKAPK2', rand)
model.network.set_istate('FAHRR', rand)
model.network.set_istate('HRR2', rand)
model.network.set_istate('CDC25B', rand)
model.network.set_istate('g2m_trans', rand)
model.network.set_istate('ATM', rand)
model.network.set_istate('ATR', rand)
model.network.set_istate('FAcore', rand)
model.network.set_istate('FANCD2I', rand)
model.network.set_istate('NHEJ', rand)
model.get_initial_state()

{'cc': 1,
 'KRAS': 1,
 'DSB': 1,
 'CHEK1': {0, 1},
 'MAPKAPK2': {0, 1},
 'FAHRR': {0, 1},
 'HRR2': {0, 1},
 'CDC25B': {0, 1},
 'g2m_trans': {0, 1},
 'cell_death': 0,
 'ATM': {0, 1},
 'ATR': {0, 1},
 'FAcore': {0, 1},
 'FANCD2I': {0, 1},
 'NHEJ': {0, 1}}

In [99]:
res = model.run()

In [100]:
res.get_fptable()

,FP,Proba,State,cc,KRAS,DSB,FAHRR,HRR2,NHEJ,ATM,ATR,CHEK1,MAPKAPK2,cell_death,FANCD2I,CDC25B,g2m_trans,FAcore
0,#1,0.169621,cc -- KRAS -- FAHRR,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0
1,#2,0.138746,cc -- KRAS -- NHEJ -- g2m_trans,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0
2,#3,0.090397,cc -- KRAS -- NHEJ,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
3,#4,0.258209,cc -- KRAS -- FAHRR -- g2m_trans,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0
4,#5,0.313142,cc -- KRAS -- DSB -- ATM -- ATR -- CHEK1 -- MA...,1,1,1,0,0,0,1,1,1,1,1,1,0,1,1
5,#6,0.010704,cc -- KRAS -- HRR2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0
6,#7,0.019181,cc -- KRAS -- HRR2 -- g2m_trans,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0

In [101]:
res.get_last_nodes_probtraj()

,ATM,ATR,CHEK1,DSB,FAHRR,FANCD2I,FAcore,HRR2,KRAS,MAPKAPK2,NHEJ,cc,cell_death,g2m_trans
99.8000,0.313142,0.313142,0.313142,0.313142,0.42783,0.313142,0.313142,0.029885,1.0,0.313142,0.229143,1.0,0.313142,0.729278

In [102]:
res.get_last_states_probtraj()

,cc -- KRAS -- DSB -- ATM -- ATR -- CHEK1 -- MAPKAPK2 -- cell_death -- FANCD2I -- g2m_trans -- FAcore,cc -- KRAS -- FAHRR,cc -- KRAS -- FAHRR -- g2m_trans,cc -- KRAS -- HRR2,cc -- KRAS -- HRR2 -- g2m_trans,cc -- KRAS -- NHEJ,cc -- KRAS -- NHEJ -- g2m_trans
99.8000,0.313142,0.169621,0.258209,0.010704,0.019181,0.090397,0.138746

In [103]:
#   (35, 0)	0.16982301660209487
#   (67, 0)	0.01069429074391337
#   (291, 0)	0.25817666968396225
#   (323, 0)	0.01918748778666668
#   (16159, 0)	0.3131778050428693
#   (16387, 0)	0.09025865387229715
#   (16643, 0)	0.1386820789120975